// Screen
// ======
@import "grids";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);

$ros: #c92220;
$ov: #841e5f;
$mw: 1546px;

body {
  font-family: "Roboto", "Open sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.navTopFixed {
  background-color: #ededed;
  background-image: linear-gradient(to bottom, #fff, #ededed);
  border-bottom: 1px solid #aaa;
  min-height: 75px;
  opacity: 1;
  text-decoration: none;
  text-shadow: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topwr {
  @include container($mw);
  padding: 0 gutter();
  @include susy-media(max-width 600px) {
    padding: 0 gutter(6);
  }
}

.logo {
  @include span(3);
  padding: 10px 0 0 0;
  float: left;
  @include susy-media(max-width 778px) {
    @include span(8);
  }

}

.logo a {
  float: left;
  max-width: 204px;
  @include susy-media(max-width 1040px) {
    padding-top: 4px;
    max-width: 170px;
  }
  @include susy-media(max-width 778px) {
    max-width: 190px;
  }
}

.menus {
  @include span(8);
  padding: 17px 0 0 0;
  @include susy-media(max-width 778px) {
    display: none;
  }
}

.menus2 {
  display: none;
  @include susy-media(max-width 778px) {
    display: block;
    height: 20px;
    padding-top: 23px;
    @include span(2 last);
    text-align: right;
  }
}
.menus2 i {
  color: #333;
}
.menus2 i:hover {
  color: $ros;
  cursor: pointer;
}
.menus a {
  color: #2f3030;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  @include susy-media(max-width 870px) {
    padding: 10px;
  }
}

.menus a:hover {
  color: #000;
  text-decoration: none;
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ddd, #bbb);
  text-shadow: 1px 1px 1px #fff !important;
}

a.active {
  background-color: $ros;
  background-image: linear-gradient(to bottom, #ec4947, $ros);
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #600100
}

.all {
  @include container($mw);
  padding: 0 gutter();
  margin-top: 75px;

  @include susy-media(max-width 600px) {
    padding: 0 gutter(6);
  }
}

a.lb {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
  padding: 27px 0 0 0;
  text-decoration: none;
  @include span(1 last);
  @include susy-media(max-width 778px) {
    @include span(2);
    font-size: 18px;
  }
  @include susy-media(max-width 360px) {
    font-size: 15px;
  }

}

a.lb:hover {
  color: $ros;

}

.fltr {
  float: right;
}

a.lb img {
  margin: -3px 5px 0 0;
  @include susy-media(max-width 778px) {
    margin: -1px 5px 0 0;
  }
}

h1 {
  font-size: 29px;
  line-height: 32px;
  padding: 7px 0 0px;
  color: $ros;
  font-weight: bold;
  float: left;
  width: 100%;

}

h2 {
  color: #444;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 10px 0 20px;
  padding: 0;
  float: left;
  width: 100%;
}

.wells {
  @include span(4);
  color: #fff;
  float: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  padding: 0;
  margin-bottom: 1px;
  background-color: #777;
  display: table;

  @include susy-media(max-width 600px) {
    @include span(12);
    padding-top: gutter(4);
    padding-bottom: gutter(4);
  }
  @include susy-media(601px 750px) {
    height: 300px;
  }
  @include susy-media(751px 850px) {
    height: 260px;
  }
  @include susy-media(851px 1039px) {
    height: 220px;
  }
  @include susy-media(1040px) {
    height: 190px;
  }
}

.wells:nth-of-type(2) {
  background: #0b82be;
}

.wells:nth-of-type(3) {
  @include susy-media(601px) {
    @include span(4 last);
  }
  background: #4882a6;
}

.wells:hover {
  background-color: $ros;
  cursor: pointer;
}

.texts {
  @include span(10);
  padding-top: gutter(4);
  /* padding-bottom: gutter(4);*/
}

.imag {
  @include span(2 last);
}

.wells img {
  float: right;
  margin-left: 20px;
  max-width: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.inwell {
  padding: 0 gutter(4);
  float: none;
  display: table-cell;
  vertical-align: middle;
}

h3 {
  @include span(10);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;
}

h5 {
  color: #555;
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
  margin: 0 0 10px 0;
  padding: 0;
  float: left;
  width: 100%;
}

h6 {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 20px 0;
  padding: 0;
  float: left;
  width: 100%;
}

.allproducts {
  margin-top: gutter();
  float: left;
}

.wq {
  padding: 0;
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.wellsProd {
  @include span(4);
  background-color: #efedee;
  color: #000;
  font-size: 15px;
  font-weight: normal;
  display: table;
  margin-bottom: 1px;

  @include susy-media(max-width 600px) {
    @include span(12);
    padding: gutter(4) gutter(4) gutter(4) gutter();
  }
  @include susy-media(601px 750px) {
    height: 260px;
  }
  @include susy-media(751px 850px) {
    height: 220px;
  }
  @include susy-media(851px 1039px) {
    height: 200px;
  }
  @include susy-media(1040px) {
    height: 150px;
    padding-left: gutter(24);
    padding-right: gutter();
  }
}

.wellsProd:nth-last-child(1) {
  @include susy-media(601px) {
    @include span(4 last);
  }
}

.wellsProd:nth-last-child(4) {
  @include susy-media(601px) {
    @include span(4 last);
  }
}

.wellsProd:hover {
  background: #bdd7ee;
  cursor: pointer;
}

.wellsProd i {
  margin-top: 30px;
  @include susy-media(601px 1039px) {
    margin-top: 0;
  }

}

.icont {
  @include span(3);
  padding: 0;
  text-align: center;
  @include susy-media(601px 1039px) {
    @include span(12);
  }
}

h4 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 0 10px 0;
  padding: 0;
  float: left;
  width: 100%;
  @include span(9 at 4);
  @include susy-media(601px 1039px) {
    @include span(12);
    padding: gutter(6) gutter(4) 0 gutter(4);
    text-align: center;
  }

}

.wellsProd span {
  padding: 0;
  @include span(9 at 4);
  @include susy-media(601px 1039px) {
    @include span(12);
    padding: 0 gutter(4);
    text-align: center;
  }
}

.josr {
  @include span(4);
  padding-top: gutter();
  padding-bottom: gutter();

  @include susy-media(max-width 750px) {
    @include span(3 of 3 split);
    padding: span(1) 0;
  }
}

.josr:nth-last-of-type(2) {
  @include susy-media(max-width 750px) {
    border-top: 1px dashed #ccc;
  }
}

.josr:nth-last-of-type(1) {
  @include span(4 last);

  @include susy-media(max-width 750px) {
    @include span(3 of 3 split);
    padding-top: gutter();
  }
}

a.josl {
  color: $ros;
  font-weight: 600;
  text-decoration: none;
  margin: 20px 0 0 0;
  float: left;
}

a.josl:hover {
  color: $ov;
}

a.josl i {
  margin: 3px 15px 0 0;
}

ul.uln {
  padding: 0;
  margin: 0;
}

.uln li {
  list-style: outside none none;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.uln li i {
  margin: 4px 15px 0 0;
  color: $ov;
  float: left;
  clear: both;
}

.uln li:nth-of-type(3) i {
  margin-bottom: 5px;
}

.foot {
  width: 100%;
  background: #373737;
  padding: gutter(24) 0;
  float: left;
  @include susy-media(max-width 1040px) {
    padding: gutter() 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    @include susy-media(max-width 600px) {
      font-size: 12px;
    }
    @include susy-media(max-width 520px) {
      font-size: 11px;
    }
    @include susy-media(max-width 465px) {
      font-size: 8px;
    }
  }
  a:hover {
    color: #ed9e3e;
  }
}

.ft {
  @extend .topwr;
  @include susy-media(max-width 600px) {
    padding: 0;
  }
}

.col {
  @include span(2);
  @include susy-media(max-width 750px) {
    @include span(2 of 11 .1 split);
    text-align: center;
  }
}

.col:nth-of-type(4) {
  @include span(3);
  @include susy-media(max-width 750px) {
    @include span(3 of 11 .1 split);
  }
}

.col:nth-last-child(1) {
  @include span(1 last);
  @include susy-media(max-width 750px) {
    display: none;
  }
}

.foot2 {
  width: 100%;
  background: #000;
  padding: 10px 0;
  float: left;
  text-align: center;
  font-size: 13px;
  color: #aeaaaa;
}